#matomoSettings table {
    width: 400px;
    max-width: 100%;
}
#matomoSettings td {
    width: 50%;
}

#matomoSettings input[type="text"], #matomoSettings input[type="number"] {
    width: 100%;
}

#matomoSettings input, #matomoSettings label {
    transition: background-color 0.5s;
}

#matomoSettings input.matomo-success, #matomoSettings label.matomo-success {
    background-color: #4eb387;
}

#matomoSettings input.matomo-error, #matomoSettings label.matomo-error {
    background-color: #f65c38;
}

#matomoSettings .settings-hint {
	font-style: italic;
}
